.text-input {
  width: 100%;
  font-size: 30px;
  padding: 5px 10px;
  border-radius: 15px;
}

.text-input:focus::placeholder {
  color: #ccc;
}

.text-input:focus {
  outline: none;
  background: #444;
  color: #fff;
}

.text-input > reset {
  color: #000;
}
